.home{
    margin-top: 100px;
    column-gap: 5px;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-items: center;
    background-color: blueviolet;
    width: 400px;
    padding: 20px ;
    border-radius: 10px;

    
}
.home input{
    margin-bottom: 5px;
    width: 200px;
    padding: 10px 5px;
    outline: none;
     gap: 10px;
     background-color: #ebdada;
}
.home button{
border: none;
outline: none;
background-color:orange;
font-size: 16px;
padding: 10px 15px;
border-radius: 15px;
margin-top: 12px;
}
.home >label{
    font-size: 20px;
    font-weight: bold;
}
.home input:focus{
border: 2px solid yellow;
}